{% set title = "Liste des offres d'emplois" %}
{% extends 'admin_table.html.twig' %}

{% block actions %}
    <a href="{{ path('app_admin_job_new') }}" class="btn btn-primary"><i class="fa-solid fa-plus mx-1" style="color: #ffffff;"></i>Ajouter une offre</a>
{% endblock %}

{% block table_content %}
<thead>
            <tr>
                <th>Id</th>
                <th>Titre de l'annonce</th>
                <th>Département</th>
                <th>Ville</th>
                <th>Description</th>
                <th>Posté le</th>
                <th>Salaire</th>
                <th>Type de contrat</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.department }}</td>
                <td>{{ job.city }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.sendAt ? job.sendAt|date('d/m/Y') : '' }}</td>
                <td>{{ job.salary }}</td>
                <td>{{ job.type }}</td>
                <td>{{ job.duration }}</td>
                <td>
                    <a href="{{ path('app_admin_job_show', {'id': job.id}) }}" class="btn btn-primary m-1"><i class="fa-regular fa-eye" style="color: #ffffff;"></i></a>
                    <a href="{{ path('app_admin_job_edit', {'id': job.id}) }}" class="btn btn-primary m-1"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}        

