{% set title = "Offre sélectionnée" %}
{% extends 'admin_table.html.twig' %}


{% block table_content %}
        <a href="{{ path('app_admin_job_edit', {'id': job.id}) }}" class="btn btn-primary my-2 "><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i></a>
        {{ include('admin/job/_delete_form.html.twig') }}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Intitulé du poste</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th>Département</th>
                <td>{{ job.department }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ job.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Postée le</th>
                <td>{{ job.sendAt ? job.sendAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ job.salary }}</td>
            </tr>
            <tr>
                <th>Type de contrat</th>
                <td>{{ job.type }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ job.duration }}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('app_admin_job_index') }}" class="btn btn-primary my-2">Retour</a>
    

{% endblock %}
