{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<main class="wrapper d-flex flex-column align-items-center">
	{% for job in jobs %}
		<div class="jobOffer card w-75 my-4">
			<div class="card-body d-flex align-items-center">
				<div class="car_body_image mx-5">
					<img width="100" src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c0/Logo_P%C3%B4le_Emploi_2008.svg/2560px-Logo_P%C3%B4le_Emploi_2008.svg.png" alt="">
				</div>
				<div class="card_body_text w-100">
					<h5 class="card-title">{{ job.title }}</h5>
					<p class="card-text">
						<small class="text-body-secondary">{{job.type}} - {{job.department}} - {{job.city}}</small>
					</p>
					<p class="card-text w-75">{{ job.description }}</p>
					<div class="d-flex justify-content-between">
						<p class="card-text">
							<small class="text-body-secondary">Posté le {{ job.sendAt|date('d-m-Y') }}</small>
						</p>
						<a href="{{ path('app_job', {'id': job.id}) }}" class="btn btn-primary">Voir l'offre</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</main>

	<div class="navigation d-flex justify-content-center">
		{{ knp_pagination_render(jobs) }}
	</div>
{% endblock %}
