{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<section class="navigation d-flex flex-column align-items-center justify-content-center">
		<div class="navigation_search d-flex justify-content-center w-50">
			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
				<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
			</form>
		</div>
		{{form_start(formSort)}}
		<div class="btn-group d-flex justify-content-around m-3">

			{{form_widget(formSort.type)}}
			{{ form_widget(formSort.department)}}
			{# <button type="button" class="btn btn-primary dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false">
			Type de contrat
			</button>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="#">CDI</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">CDD</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Intérime</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Alternance</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Stage</a>
				</li>
			</ul> #}

			{# <button type="button" class="btn btn-primary dropdown-toggle mx-2 rounded" data-bs-toggle="dropdown" aria-expanded="false">
				Département
			</button>
			<ul class="dropdown-menu overflow-auto" style="height:200px;">
				<input class="form-control" id="myInput" type="text" placeholder="Search..">
				{% for i in 0..100 %}
					<li>
						<a class="dropdown-item" href="#">Nom dpt -
							{{i}}</a>
					</li>
				{% endfor %}
			</ul> #}

			<button type="button" class="dateSort btn btn-white text-primary border-primary rounded mx-2" href="">{{ knp_pagination_sortable(jobs, 'Date', 'r.sendAt') }}
			</button>

		</div>
		{{form_end(formSort)}}


	</section>

	<main class="allJobs wrapper d-flex flex-column align-items-center">
		{% for job in jobs %}
			<div class="jobOffer card w-75 my-4">
				<div class="card-body d-flex align-items-center">
					<div class="car_body_image mx-5">
						<img width="100" src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c0/Logo_P%C3%B4le_Emploi_2008.svg/2560px-Logo_P%C3%B4le_Emploi_2008.svg.png" alt="">
					</div>
					<div class="card_body_text w-100">
						<h5 class="card-title">{{ job.title }}</h5>
						<p class="card-text">
							<small class="text-body-secondary">{{job.type}}
								-
								{{job.department}}
								-
								{{job.city}}</small>
						</p>
						<p class="card-text w-75">{{ job.description }}</p>
						<div class="d-flex justify-content-between">
							<p class="card-text">
								<small class="text-body-secondary">Posté le
									{{ job.sendAt|date('d-m-Y') }}</small>
							</p>
							<a href="{{ path('app_job', {'id': job.id}) }}" class="btn btn-primary">Voir l'offre</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</main>

	<div class="navigation d-flex justify-content-center">
		{{ knp_pagination_render(jobs) }}
	</div>

	<script>
		const searchBar = document.querySelector('.form-control')
const jobsOffer = document.querySelectorAll('.jobOffer')

searchBar.addEventListener('keyup', (e) => {
let getValue = searchBar.value.trim().toLowerCase();

if (getValue.length > 0) {

jobsOffer.forEach(function (card) {
if (card.querySelector('h5').textContent.includes(getValue)) {
card.style.display = "flex"
} else {
card.style.display = "none"
}
})
}
})

	const inputContrat = document.getElementById('job_sort_type');
	inputContrat.addEventListener('change', function() {
		document.querySelector('[name="job_sort"]').submit();
	})
	</script>
{% endblock %}
