{% set title = "Liste des candidatures" %}
{% extends 'admin_table.html.twig' %}


{% block table_content %}
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Message</th>
                <th>Envoyée le</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for apply in applies %}
            <tr>
                <td>{{ apply.id }}</td>
                <td>{{ apply.firstName }}</td>
                <td>{{ apply.lastName }}</td>
                <td>{{ apply.email }}</td>
                <td>{{ apply.message }}</td>
                <td>{{ apply.sendAt ? apply.sendAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_apply_show', {'id': apply.id}) }}" class="btn btn-primary"><i class="fa-regular fa-eye" style="color: #ffffff;"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
